doctype html
html(lang="en")
    head
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href ="static/css/style.css">
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Not So Phunny JOCKS
    body
        div(class="w3-panel w3-topbar w3-bottombar w3-border-red w3-pale-red w3-leftbar w3-rightbar center" align="center" )
            h1 JokeBook 
        
            strong(class="w3-cursive") #{res1}
            br
            button(class="button",id="btn") One More Joke!!
        script(src="static/js/main.js") 